extend layout

block content
 h1 #{input}
 form(method='POST', action='/article/add')
  #form-group
   label Title:
   input.form-control(name='title', type='text')

  #form-group
   label Body:
   textarea.form-control(name='body')
   hr
  input.btn.btn-primary(type='submit', value='Submit')